<div class='toggle'>
	<div class='panels'>
        <div class='panel'>
            <!-- name -->
            <div class="first-line">
                <div class="span6 main-row">
                    <div class="input">

                        <input type="text" id="first_name" name="first_name" placeholder="First name">
                    </div>
                </div>
                <div class="span6 main-row">
                    <div class="input">

                        <input type="text" id="last_name" name="last_name" placeholder="Last name">
                    </div>
                </div>
            </div>
            <!-- end name -->
            <!-- email n phone -->
            <div class="first-line">
                <div class="span6 main-row">
                    <div class="input">

                        <input type="email" placeholder="Email" id="email" name="email">
                    </div>
                </div>
                <div class="span6 main-row">
                    <div class="input">

                        <input type="text" placeholder="Phone" id="phone" name="phone">
                    </div>
                </div>
            </div>
            <!-- start address -->
            <div class="main-row">
                <div class="input">

                    <input type="text" id="address" placeholder="Address" name="address">
                </div>
            </div>
            <!-- end address -->
            <!-- start post code -->
            <div class="first-line">
                <div class="span8 main-row">
                    <div class="input">
                        <input type="text" id="city" placeholder="City" name="city">
                    </div>
                </div>

            </div>
            <!-- end city post code -->
            <!-- start Faculty -->
            <div class="main-row">
                <label class="input select">
                    <select name="Faculty">
                        <option value="none" selected="" disabled="">Select Faculty</option>
                        <option value="Natural Science">Natural Sciences</option>
                        <option value="Law">Law</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Education">Education</option>
                        <option value="Medical Sciences">Medical Science</option>
                    </select>
                    <i></i>
                </label>
            </div>
            <!-- end Faculty -->
            <!-- start Department-->
            <div class="main-row">
                <label class="input select">
                    <select name="Department">
                        <option value="none" selected="" disabled="">Select Department</option>
                        <option value="Computer">Computer Sciences</option>
                        <option value="Law">Law</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Information">Information Systems</option>
                        <option value="Econ">Economics</option>
                    </select>
                    <i></i>
                </label>
            </div>
            <!-- end Department -->
            <!-- start position -->
            <div class="main-row">
                <label class="input select">
                    <select name="position">
                        <option value="none" selected disabled="">Choose desired position</option>
                        <option value="tech lead">Operator</option>
                        <option value="product manager"> Manager</option>
                        <option value="senior developer"> Developer</option>
                        <option value="QA specialist">Designer</option>
                    </select>
                    <i></i>
                </label>
            </div>
            <!-- end position -->
            <!-- start message -->
            <div class="main-row">
                <div class="input">
                    <textarea placeholder="Additional info" spellcheck="false" name="message"></textarea>
                    <span class="tooltip tooltip-right-top">Key Skills</span>
                </div>
            </div>
            <!-- end message -->



        </div>
		<div class='panel'>Panel 2</div>
		<div class='panel'>Panel 3</div>
		<div class='panel'>Panel 4</div>
	</div>
	<div class='tabs'>
		<div class='tab active'>Tab 1</div>
		<div class='tab'>Tab 2</div>
		<div class='tab'>Tab 3</div>
		<div class='tab'>Tab 4</div>
	</div>
</div>
