
@{
	ViewBag.Title = "Student";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>

<div class="row">
	<div class="col-md-4" name="Progress">

	</div>
	<div class="col-md-4" name="Profile">

	</div>
</div>

<div class="row" name="ApplicationPanel">
	@Html.Partial("_Application")
</div>
